.badge-custom {
    padding-bottom: 2px;
}
.accounts-info-pan {
    font-size: 20px;
}

.card-header {
    --mdb-card-header-border-color: none;
}

body {
    background: ghostwhite;
}

.icon-padding-5 {
    padding-right: 5px;
}

.m-style {
    color: #63bbd6;
}
.page-link {
    transition: none;
}

.list-inline>ul>li {
    padding: 0 3px 0 3px;
}

#sidebar-nav>li>a>i, #pro-i, #base-i {
    margin-left: -20px;
    margin-right: 10px;
}

#pro-li, #base-li {
    line-height: 0;
    margin-left: 20px;
}

.sidebar-nav > .sidebar-brand {
    height: 38px;
}
