.badge-custom {
    padding-bottom: 2px;
}

.accounts-info-pan {
    font-size: 20px;
}

.card-header {
    --mdb-card-header-border-color: none;
}

body {
    background: ghostwhite;
}

.icon-padding-5 {
    padding-right: 5px;
}

.m-style {
    color: #63bbd6;
}

.page-link {
    transition: none;
}

#pro-li {
    width: 100%;
    line-height: 50px;
}

.list-inline > ul > li {
    padding: 0 3px 0 3px;
}

#sidebar-nav > li > a > i, #sidebar-nav > span > li > a > i, #base-i {
    margin-left: -20px;
    margin-right: 10px;
}

#pro-li, #base-li {
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
}

#base-li {
    line-height: 45px;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
}

#pro-menu-li {
    display: none;
}

.pro-menu-btn > span:after {
    content: '';
    width: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #6f6f6f;
    position: absolute;
    margin-top: 23px;
    margin-left: 50px;
}

.pro-menu-btn > span:before {
    content: '';
    width: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #6f6f6f;
    position: absolute;
    margin-top: 23px;
    margin-left: 50px;
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out;
}

#pro-menu-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
}

#pro-i {
    margin-right: 7px;
    margin-left: 18px;
}

.opened::before {
    transform: rotate(450deg) !important;
}

.fixed-table-height {
    position: relative;
    height: 550px;
    overflow: auto;
    border-radius: 15px;
}

li > a.active {
    font-weight: bold;
}

.sending-card-header {
    padding-top: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 10px !important;
}

.logs-card-header {
    padding-top: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 10px !important;
}

.margin-right-input {
    margin-right: 8px !important;
}

#link-forward-input {
    margin-top: 11px;
    width: 103% !important;
}

#add-file-button {
    margin-top: 11px;
}

.delays {
    margin-bottom: 14px !important;
}

#start-sending-dm {
    width: 100% !important;
}

.form-outline .form-control.disabled, .form-outline .form-control:disabled, .form-outline .form-control[readonly] {
    background-color: #e9ecef;
    width: 97.5%;
}

.textarea-actions {
    position: absolute;
    margin-top: 15px;
}

#download-sending-history, #download-parsing-results {
    right: 7.9%;
}

#copy-sending-history, #copy-parsing-logs {
    right: 14%;
}

#clear-parsing-database {
    right: 2%;
}

.form-switch .form-check-input:checked[type="checkbox"]::after {
    background-color: #54b4d3;
}

.form-check-input[type="checkbox"]:checked {
    background-color: #54b4d3;
}

.form-switch .form-check-input:checked:focus::before {
    box-shadow: 3px -1px 0 13px #54b4d3;
}

.form-check-input[type="checkbox"]:checked:focus {
    background-color: #54b4d3;
}

.form-check-input:checked {
    border-color: #54b4d3;
}

.form-check-input:checked:focus::before {
    box-shadow: 0 0 0 13px #54b4d3;
}

.form-check-input:checked:focus {
    border-color: #54b4d3;
}

.account-picture {
    width: 45px;
    height: 45px;
}

.overflow-hidden-p {
    overflow: hidden;
    max-width: 150px;
    max-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#sync-icon, #icon-sync-parsing {
    transition: transform 0.8s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#add-account-button-i {
    transform: rotate(7deg);
}

#add-account-button {
    max-width: 200px;
    min-width: 200px;
}

.alert {
    padding: 10px 0 8px 0;
}

#adding-account-process-container {
    transition: opacity 0.3s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

#adding-account-process-container.active {
    opacity: 1;
    height: auto;
}

#inform-text-container {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}

.spinner-custom {
    margin-bottom: -2px;
}

#add-account-button-spinner {
    display: none;
}

.only-photo-parsing {
    margin-top: 8px;
}

#icon-sync-parsing {
    display: none;
}

#account-status {

}